.head{
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:1300px;
  margin-top:-8px;
  height:415px
}
img{
  width:1300px;
  border-top:5px solid;
  
}
.header{
  position:relative;
  width:700px;
  top:-190px;
  left:305px;
  font-size:35px;
  line-height:22px;
  color:#222;
  font-family: 'Abril Fatface', cursive;
  
}

.body{
  width:700px;
  margin-left:auto;
  margin-right:auto;
  
}
.blockquote{
  display:flex;
  position:relative;
  background:#444;
  color:white;
  font-family: 'Abril Fatface', cursive;
  height:150px;
  font-size:19px;
  justify-content:center;
}
.together{
  padding-top:28px;
  letter-spacing:1px;
  
}
.quotemark{
  position:absolute;
  bottom:-15px;
  left:0px;
  font-size:150px;
}
.formal{
  border-bottom:5px solid;
  margin-top:60px;
  margin-bottom:60px;
  padding-bottom:60px
}
.firstparagraph{
  margin-top:60px;
  margin-bottom:60px;
}
.paratext{
  font-family: 'Josefin Sans', sans-serif;
  line-height:30px;
  font-size:19px;
  color:#222; 
}
.blockquote2{
  display:flex;
  position:relative;
  background:#444;
  color:white;
  font-family: 'Abril Fatface', cursive;
  height:250px;
  
}
.quotemark2{
  position:absolute;
  bottom:85px;
  left:0px;
  font-size:150px;
}
.together2{
  font-size:40px;
  letter-spacing:2px;
  padding-left:70px;
  padding-top:10px;
  line-height:80px
}
.subtitle{
  font-family: 'Merriweather Sans', sans-serif;
  letter-spacing:3px;
  margin-bottom:60px
}
.subheading{
  line-height:3px;
  font-family: 'Josefin Sans', sans-serif;    
}
ul{
  padding-top:25px;
  padding-bottom:50px
    
}